:root {
    --color-primary: #0e1117;
}

html,
body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    box-sizing: border-box;

    color: #fff;

    overflow-x: hidden;
}

body {
    background-color: var(--color-primary);
}

#decoration {
    background: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 253, 128));
    height: 2px;
    width: 100%;

    position: fixed;
}

section {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 80px;
}

h1 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0;

    color: #e1e1e1;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;

    text-align: center;

    color: #c8c8c8;
}

#hamburger {
    width: 25px;

    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

    cursor: pointer;
}
#hamburger .line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

#search {
    background-color: #262730;
    color: #fff;

    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 30px;

    margin-top: 10px;
    padding: 22px 10px;
    font-size: 16px;

    outline: 1px solid transparent;

    transition: 0.15s ease-out;
}
#search:focus {
    outline: 1px solid #800080;
}
#search::placeholder {
    transition: 0.15s;
    color: #ccc;
}
#search:focus::placeholder {
    color: #eee;
}

#images {
    line-height: 0;

    column-count: 5;
    column-gap: 15px;

    margin-top: 30px;

    width: 100%;
}
.image {
    margin: 0 0 15px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    max-width: 100vw;

    background-color: rgba(1, 1, 1, 0.8);

    box-sizing: border-box;
    padding: 200px max(calc((100% - 70rem) / 2), 20px);

    align-items: center;
    justify-content: center;

    display: none;
}
#modal-content {
    max-width: 100%;
    max-height: 100%;

    background-color: #262730;

    padding: 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    gap: 30px;

    position: relative;
}
#modal-image-wrapper {
    max-width: 100%;
    max-height: 100%;

    background-color: #0e1117;
}
#modal-image {
    width: 100%;
    height: 100%;

    object-fit: contain;
}
#modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-width: 280px;
}
#modal-close {
    width: 30px;
    height: 30px;
    line-height: 23px;
    font-weight: 700;

    border-radius: 50%;
    border: 4px solid #fff;
    background-color: transparent;
    color: #fff;

    position: absolute;
    right: 10px;
    top: 10px;

    cursor: pointer;
}
#modal h4 {
    margin-top: 0;

    font-size: 28px;
    margin-bottom: 0;

    text-align: center;
}
#modal-download {
    width: 100%;
    background-color: #fff;
    color: #800080;
    border: 0;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.15s;
}
#modal-download:hover {
    filter: brightness(80%);
}

@media (max-width: 1200px) {
    #images {
        column-count: 3;
    }
}
@media (max-width: 800px) {
    #images {
        column-count: 1;
        margin-top: 15px;
    }
    section {
        padding: 10px 20px;
    }
    #search {
        margin-top: 5px;
    }
    #modal {
        padding: 0 20px;
    }
    #modal-content {
        flex-direction: column;
        gap: 15px;
    }
    #modal-close {
        right: 5px;
        top: 5px;
        width: 25px;
        height: 25px;
        line-height: 15px;
        border: 3px solid white;
        text-align: center;
    }
}
