:root {
    --color-primary: #0e1117;
}

html,
body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    box-sizing: border-box;

    color: #fff;

    overflow-x: hidden;
}

body {
    background-color: var(--color-primary);
}

#decoration {
    background: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 253, 128));
    height: 2px;
    width: 100%;

    position: fixed;
}

section {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 60px;
}

h1 {
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 0;

    color: #e1e1e1;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;

    text-align: center;

    color: #c8c8c8;
}

#search {
    background-color: #262730;
    color: #fff;

    border: 0;
    width: 100%;
    box-sizing: border-box;
    height: 30px;

    margin-top: 20px;
    padding: 22px 10px;
    font-size: 16px;

    outline: 1px solid transparent;

    transition: 0.15s ease-out;
}
#search:focus {
    outline: 1px solid #800080;
}
#search::placeholder {
    transition: 0.15s;
    color: #ccc;
}
#search:focus::placeholder {
    color: #eee;
}

#images {
    line-height: 0;

    column-count: 5;
    column-gap: 15px;

    margin-top: 30px;

    width: 100%;
}
#images div {
    margin: 0 0 15px;
    width: 100%;
}
.image {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

@media (max-width: 1200px) {
    #images {
        column-count: 3;
    }
}
@media (max-width: 750px) {
    #images {
        column-count: 1;
        margin-top: 15px;
    }
    section {
        padding: 10px 20px;
    }
    #search {
        margin-top: 5px;
    }
}
